* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 213, 220);
  position: relative;
  height: 120vh;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
  opacity: 0;
  transform: translateY(-20px);
  animation: apparition 0.8s 0.2s ease-in-out forwards;
}

p {
  height: 300px;
  width: 100vh;
  margin: 50px auto;
}
.container-button {
  height: 50px;
  margin: 10px;
  display: flex;
  text-align: center;
}

.button {
  height: 50px;
  width: 150px;
  background: rgb(199, 255, 176);
  margin: auto;
  cursor: pointer;
  opacity: 0;
  transform: translateX(-200px);
  animation: apparition 0.8s 0.4s ease-in-out forwards;
}

.button:hover {
  background: rgba(198, 255, 176, 0.688);
  color: rgba(0, 0, 0, 0.692);
}

@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
