* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 213, 220);
  position: relative;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 10px;
}

p {
  height: 300px;
  width: 100vh;
  margin: 50px auto;
}
.container-button {
  height: 50px;
  margin: 10px;
  display: flex;
  text-align: center;
}

.button {
  height: 50px;
  width: 150px;
  background: rgb(199, 255, 176);
  margin: auto;
}
